apiVersion: v1
kind: Pod
metadata:
  name: demo-env
spec:
  containers:
    - name: demo
      image: busybox
      command: ["sh", "-c"]
      args: ["echo $GREETING"]
      resources:
        requests:
          cpu: 50m
          memory: 32Mi
        limits:
          cpu: 100m
          memory: 64Mi
      env:
        - name: GREETING
          value: "Hello, Kubernetes with Environment Variable!"
  restartPolicy: Never
