apiVersion: v1
kind: Secret
metadata:
  name: demo-secret
type: Opaque
data:
  GREETING: "SGVsbG8gZnJvbSBTZWNyZXQh" # Base64 encoded "Hello from Secret!"
  FAREWELL: "R29vZGJ5ZSBmcm9tIFNlY3JldCE=" # Base64 encoded "Goodbye from Secret!"
  CONFIG_FILE: "VGhpcyBpcyBhIGZpbGUgZnJvbSBTZWNyZXQu" # Base64 encoded "This is a file from Secret."

---

apiVersion: v1
kind: Pod
metadata:
  name: demo-envfrom
spec:
  containers:
    - name: demo
      image: busybox
      command: ["sh", "-c"]
      args: ["echo $GREETING && echo $FAREWELL"]
      resources:
        requests:
          cpu: 50m
          memory: 32Mi
        limits:
          cpu: 100m
          memory: 64Mi
      envFrom:
        - secretRef:
            name: demo-secret
  restartPolicy: Never

---

apiVersion: v1
kind: Pod
metadata:
  name: demo-env
spec:
  containers:
    - name: demo
      image: busybox
      command: ["sh", "-c"]
      args: ["echo $GREETING"]
      resources:
        requests:
          cpu: 50m
          memory: 32Mi
        limits:
          cpu: 100m
          memory: 64Mi
      env:
        - name: GREETING
          valueFrom:
            secretKeyRef:
              name: demo-secret
              key: GREETING
  restartPolicy: Never

---

apiVersion: v1
kind: Pod
metadata:
  name: demo-volume
spec:
  containers:
    - name: demo
      image: busybox
      command: ["sh", "-c"]
      args: ["cat /etc/secret/CONFIG_FILE"]
      resources:
        requests:
          cpu: 50m
          memory: 32Mi
        limits:
          cpu: 100m
          memory: 64Mi
      volumeMounts:
        - name: secret-volume
          mountPath: /etc/secret
  volumes:
    - name: secret-volume
      secret:
        secretName: demo-secret
  restartPolicy: Never