apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod
  labels:
    app: nginx
spec:
  containers:
  - name: nginx
    image: nginx:latest
    resources:
      requests:
        memory: "64Mi"
        cpu: "100m"
      limits:
        memory: "128Mi"
        cpu: "200m"
    volumeMounts:
    - mountPath: /usr/share/nginx/html
      name: emptydir-volume
      readOnly: false
  volumes:
  - name: emptydir-volume
    emptyDir: {}
---
apiVersion: v1
kind: Pod
metadata:
  name: nginx-hostpath-pod
  labels:
    app: nginx
spec:
  containers:
  - name: nginx
    image: nginx:latest
    resources:
      requests:
        memory: "64Mi"
        cpu: "100m"
      limits:
        memory: "128Mi"
        cpu: "200m"
    volumeMounts:
    - mountPath: /usr/share/nginx/html
      name: hostpath-volume
      readOnly: false
  volumes:
  - name: hostpath-volume
    hostPath:
      path: /data/nginx
      type: DirectoryOrCreate